@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');

.container{
  width: 100%;
}

body {
  color: #1A181B;
}

section{
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}

.section-space{
  padding-top: 3rem;
}

.h1,
h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 4rem;
}

.h2,
h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 3rem;
}

.h3,
h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

.h4,
h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

.h5,
h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: .8rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
}

p, li {
  font-family: 'Open Sans', sans-serif;
}

figcaption {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: small
}

.grow:hover {
  transform: scale(1.1);
}

.grow {
  transition: all .2s ease-in-out;
}

a {
  color: #1A181B;
  text-decoration: none;
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
}

a:hover {
  color: #1A181B;
  text-decoration: none;
}

.white a:hover{
  color: #ffffff;
  text-decoration: underline;
}

.research-link{
  text-decoration: underline;
  font-size: small;
}

/* ----- NAVBAR START ----- */
.bg-light {
  background-color: #ffffff !important;
}

.navbar-brand {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.navbar-nav {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.btn {
  font-family: 'Oswald', sans-serif;
}

/* ----- NAVBAR END ----- */

/* ----- INDEX START ----- */
.btn-primary {
  background-color: #1A181B;
  color: #ffffff;
  border: #1A181B solid 2px;
  width: 200px;
}

.btn-primary:hover {
  background-color: #ffffff;
  color: #1A181B;
  border: #1A181B solid 4px;
}

.min-vh-100 {
  min-height: 50vh!important;
}

.jumbo-hello{
  font-size: 30vw !important;
  text-align: center;
}

.jumbo-name h1{
  font-size: 18vw !important;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.jumbo-name h2{
  font-size: 4.5vw !important;
  text-align: center;
}

/* ----- INDES END----- */

/* ----- WORK START ----- */
/* ----- COLORS START ----- */
.bg-orange {
  background-color: #F78F19;
}

.bg-lightblue {
  background-color: #68A8DC;
}

.bg-grey {
  background-color: #EBE9ED;
}

.bg-pink{
  background-color: #da4167;
}

.bg-purple{
  background-color: #290866;
}

.bg-black{
  background-color: #1A181B;
}

.purple{
  color: #290866;
}

.white{
  color: #ffffff;
}

/* ----- COLORS END */

/* OVERVIEW START */
.text-extra-small {
  font-size: small;
  font-weight: 600;
}

/* OVERVIEW END */

iframe {
  display: block;
  border-style: none;
  margin: 0 auto;
}

/* OBSERVATION START */
.img-fluid {
  margin: 10px 0px;
}

.content {
  position: absolute;
  right: 96px;
  width: 100%;
  height: 100%;
  padding: 2rem 0 0 2rem;
}
/* OBSERVATION END */

/* COMPETITIVE ANALYISIS START */
.table {
  color: #1A181B;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  background-color: #ffffff;
  margin-bottom: 0px;
}

.table td,
.table th {
  padding: .75rem;
  border: 2px double #1A181B;
  text-align: center;
}

.fa-check::before {
  content: "\f00c";
  color: white;
}

#panelle .fa-times::before {
  color: white;
}

.table thead th{
  vertical-align: middle;
}

.thead{
  width: 100%;
}

/* COMPETITIVE ANALYISIS END */
/* USER INTERVIEWS START */
blockquote {
  margin: 0;
  padding: 30px;
  background-color: #F78F19;
  color: white;
  box-shadow: 0 5px 2px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: background-color 0.6s linear;
  z-index: 2;
}

.two blockquote {
  background-color: #D17915;
}

.three blockquote {
  background-color: #FFAB49;
}

blockquote:after {
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  top: 100%;
  border: solid transparent;
  border-top-color: #F78F19;
  border-left-color: #F78F19;
  border-width: 10px;
  left: 10%;
}

#second:checked~.two blockquote {
  background-color: #D17915;
}

.two blockquote:after {
  border: solid transparent;
  border-top-color: #D17915;
  border-left-color: #D17915;
  border-width: 10px;
}

#third:checked~.three blockquote {
  background-color: #FFAB49;
}

.three blockquote:after {
  border: solid transparent;
  border-top-color: #FFAB49;
  border-left-color: #FFAB49;
  border-width: 10px;
}

/* WAYVE BLOCKQUOTE START */
#wayve blockquote {
  background-color: #68A8DC;
  color: white;
}

#wayve blockquote:after {
  border-top-color: #68A8DC;
  border-left-color: #68A8DC;
}
/* WAYVE BLOCKQUOTE END */


.quotes {
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  font-size: 5em;
}

.leftq {
  top: -25px;
  left: 5px;
}

#panelle .leftq {
  top: -47px;
  left: -22px;
}

#panelle .rightq {
  bottom: 82px;
  right: 20px;
}

.rightq {
  bottom: -10px;
  right: 5px;
}

.interview-img {
  width: 200px;
  height: auto;
  float: left;
}

/* USER INTERVIEWS END */

/* STORYBOARD START */
.bignumber {
  font-family: 'Oswald', sans-serif;
  font-size: 200%;
}

#spot .under-color {
  margin-top: .5rem;
  border-top: 3px solid #F78F19;
}

#spot .bignumber~.under-color {
  margin-left: 1.5rem;
  margin-top: -1.7rem;
  border-top: 3px solid #F78F19;
}

#wayve .under-color {
  margin-top: .5rem;
  border-top: 3px solid #68A8DC;
}

#wayve .bignumber~.under-color {
  margin-left: 1.5rem;
  margin-top: -1.7rem;
  border-top: 3px solid #68A8DC;
}

#panelle .under-color {
  margin-top: .5rem;
  border-top: 3px solid #290866;
}

.flex-basis {
  flex: 1 1 0px;
}

.front {
  z-index: 3;
}

.center {
  margin: 0 auto;
}

/* STORYBOARD END */

/* USER FLOW START */
.thick {
  border-top: .3rem solid #1A181B;
}

.d-flex .flex-basis {
  margin: 0px 10px;
}

/* USER FLOW END */

/* PROTOTYPE START */
#spot .btn-lg {
  background-color: #F78F19;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  border: #F78F19 solid 4px;
}

#spot .btn-lg:hover {
  background-color: #ffffff;
  color: #F78F19;
  border: #F78F19 solid 4px;
  font-family: 'Oswald', sans-serif;
}

#wayve .btn-lg {
  background-color: #68A8DC;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  border: #68A8DC solid 4px;
}

#wayve .btn-lg:hover {
  background-color: #ffffff;
  color: #68A8DC;
  border: #68A8DC solid 4px;
  font-family: 'Oswald', sans-serif;
}

#panelle .btn-lg {
  background-color: #da4167;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  border: #da4167 solid 4px;
}

#panelle .btn-lg:hover {
  background-color: #ffffff;
  color: #da4167;
  border: #da4167 solid 4px;
  font-family: 'Oswald', sans-serif;
}

/* PROTOTYPE END */
/* ----- WORK END ----- */

/* -----MEDIA QUIERIES----- */
@media(min-width:576px) {
  .userflow-overset {
    bottom: 5%;
    right: -4%;
    font-size: 2.2vw;
    background-color: #F78F19;
  }
}

@media(min-width:768px) {
  .userflow-overset {
    bottom: 5%;
    right: -5%;
    font-size: 2.2vw;
    background-color: #F78F19;
  }

  .min-vh-100 {
    min-height: 100vh!important;
}

.jumbo-hello{
  font-size: 20vw !important;
  text-align: center;
  padding-bottom: 15vw;
}

.jumbo-name{
  padding-top: 15vw;
}

.jumbo-name h1{
  font-size: 9vw !important;
  text-align: center;
}

.jumbo-name h2{
  font-size: 2.3vw !important;
  text-align: center;
}
}

@media(min-width:992px) {
  .userflow-overset {
    bottom: 5%;
    right: -1%;
    font-size: 2.4vw;
    background-color: #F78F19;
  }
}

@media(min-width:1140px) {
  .userflow-overset {
    bottom: 5%;
    right: -7%;
    font-size: 2.4vw;
    background-color: #F78F19;
  }
}