/* ----- WORK START ----- */
/* COMPETITIVE ANALYISIS START */
.table td, .table th {
    padding: .75rem;
    vertical-align: middle;
    border: 2px double #49beaa;;
    text-align: center;
}
/* COMPETITIVE ANALYISIS END */
/* ----- WORK START ----- */